<div class="jumbotron center">
	<h3>Notes</h3><br /><br />
<ul class="list-group">
  <li class="list-group-item text-left">Hopefully, with this app we can more easily capture common issues with the LC BIBFRAME converter.  Each MARC record appears together with its BIBFRAME conversion and allows you to enter comments on issues you see in the conversion, tagged with a comment tag, to allow better capture of common issues across all records.</li>
  <li class="list-group-item text-left">To get started: 
  	<ol>
	  	<li>Click "Records" on menu.</li>
	  	<li>Locate record you'd like to work on.</li>
	  	<li>Click "Show" on far right.</li>
	  	<li>Either:
	  		<ol type="a">
	  			<li>Create a new comment by clicking "New Comment" at top right.</li>
	  			<li>Edit a pre-existing comment from list at bottom of page by clicking on "Edit" button at far right.</li>
	  		</ol>
	  	<li>Comments are associated with a comment tag.  Choose a tag from the default list (these are mostly MARC tags), or enter a new tag by clicking on "Comment Tags" from top menu and then clicking on "New Comment Tag."  If you do create a new tag, try to create one which is generic enough to be useful for others, since these tags will be used to group common issues together.  The default list mainly consists of MARC tags, since most comments will be about issues with a particular MARC tag not converting propertly or at all.</li>
	  	<li>Feel free to reference numbered lines in the MARC or BIBFRAME content in your comment.  You can also simply paste in the relevant bits if you prefer.</li>
	  	<li>In the records listing, the evaluator name is taken from the first comment's evaluator entry, on the assumption that only one person will ever be working on a given record.</li>
	  </ol>
</ul>
</div>